<div class="container">
    <div class="row">
        <div class="col-lg py-4 px-4">
            <h4 class="text-center">Introduction to the Glycemic Load Prediction App</h4>
            <p>
                Welcome to the Glycemic Load Prediction App, an AI-powered tool designed to help you understand the glycemic impact of your meals. By entering the nutritional composition of your food—such as carbohydrates, fiber, and other key nutrients—our intelligent algorithm predicts the glycemic load (GL), giving you valuable insights into how your diet may affect blood sugar levels.
                Whether you're managing diabetes, following a low-GI diet, or simply optimizing your nutrition, this app provides data-driven predictions to support informed dietary choices.
            </p>
            <p>
                🚀 Get started now and take control of your health with AI-powered precision!
            </p>
            <div class="text-center">
                
                <button class="btn btn-success btn-block m-2" type="button" (click)="navigateToCalculation()">
                    Calculate Load
                </button>
                <button class="btn btn-outline-success btn-block m-2" type="button" (click)="navigateToResults()">
                    Saved Results
                </button>
            </div>
        </div>
    </div>
</div>