<nav class="navbar-expand-md border-bottom mb-3 bg-white shadow-sm">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" [routerLink]="['/about']" [routerLinkActive]="['text-dark']">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" [routerLink]="['/how-to-use']" [routerLinkActive]="['text-dark']">How to use</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" [routerLink]="['/glycemic-load']" [routerLinkActive]="['text-dark']">Glycemic Load</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" [routerLink]="['/glycemic-index']" [routerLinkActive]="['text-dark']">Glycemic Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" [routerLink]="['/dietary-practices']" [routerLinkActive]="['text-dark']">Dietary Practices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" [routerLink]="['/calculate']" [routerLinkActive]="['text-dark']">Calculate Load</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" [routerLink]="['/mix-meal-calculator']" [routerLinkActive]="['text-dark']">Mix Meal Calculate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" [routerLink]="['/results']" [routerLinkActive]="['text-dark']">Saved Results</a>
            </li>
        </ul>
    </div>
</nav>